# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/

# Jupyter
.ipynb_checkpoints/

# Environments
.env
.venv
env/
venv/

# Large files exceeding GitHub's 100 MB limit
# Use Git LFS or external storage for these
dataset/crop_disease_remediation.csv
model/state_crop_yeild/crop_prediction_model.pkl

# OS
.DS_Store
Thumbs.db
